/* Estilo redondo de la columna con fondo gris*/
#output_aden2 .p-3.bg-light{
    border-radius: 40px;
}

/* Estilo redondo del div donde está el gráfico y altura*/
#output_aden2 .main-svg{
    border-radius: 40px;
    height: 400px !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

#output_aden2 .svg-container{
    height: 400px !important;
}

/* Botones por defecto de Dash */
#output_aden2 .js-plotly-plot .plotly .modebar{
    position: absolute;
    top: 8px;
    right: 21px;
}